.navbar{
    display: flex;
    background-color: #391210;
    padding: 5px;
    flex-direction: column;
    border-radius: 5px;
}

.navbar ul{
    padding: 0;
    display: none;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #6c3530;
    border-radius: 5px;
    font-weight: bold;
}

.navbar a:hover{
    background-color: #532320;
}

#menu{
    margin: 10px;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;


}


@keyframes animationMenu{
    0%{
      opacity: 0;
    }

    50%{
      opacity:1;
    }
}


ul.activeMenu{
    display: block;
    animation-name: animationMenu;
    animation-duration: 3s;
    
}


.logo{
    text-shadow: 1px 1px 2px #000;
}

.color{
    color:#854740;
}